<% layout ("/layouts/boilerplate") %>

    <div class="row" style="margin-top: 20px;">
        <div class="alert alert-danger col-8 offset-2" role="alert">
            <p>message</p>
            <a href="/listing">Click here to Refersh</a>
        </div>
    </div>